*
{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  font-weight: bold!important;
  font-size: 18px !important;
  color: #fff;
}

.logged_in_content{
    display: none;
}
iframe {
    background-color: rgba(0.,0.,0.,1.);
}
information {
    color: #ff0 !important;
    border-radius: 50%;
    border: 1px solid #ff0 !important;
}
.tooltip-inner {
    border: 3px solid #ff0 !important;
}
html{
    background-color: transparent !important;
}
body{
    background-color: rgba(1.,1.,1.,.0) !important;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.btn {
    background-color: rgba(1.,1.,1.,.8) !important;
    border-width: 5px !important;
    font-size: 18px !important;
    color: #fff !important;
    margin: 5px !important;
}
.btn:hover {
    background-color: rgba(1.,1.,1.,.7) !important;
    color: #fff !important;
}

.btn-outline-success {
    /* color: #0f0 !important; */
    border-color: #0f0 !important;
}
.btn-outline-warning {
    /* color: #ff0 !important; */
    border-color: #ff0 !important;
}
.btn-outline-warning:hover {
    color: #000 !important;
}

.btn-outline-primary {
    /* color: #99f !important; */
    border-color: #f0f !important;
}
.btn-outline-primary {
    /* color: #99f !important; */
    border-color: #00f !important;
}

.btn-outline-success .disabled {
    /* color: #aaa !important; */
    border-color: #aaa !important;
}

.center{
    margin:auto !important;
}

label{
    color: #fff; 
}

.table td, .table th {
    padding-top: .75em !important;
    padding-bottom: .75em !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.table{
    background-color: rgba(0, 0, 0, 0) !important;
}

.table th, .table td {
    border: 1px solid #fff !important;
    text-align: center !important;
}

tbody tr{
    background-color: rgba(0, 0, 0, 0) !important;
}
table {
    border-collapse: separate !important;
    border-spacing: 2px !important;
}
.form-control, .form-control:focus{
    color: #fff !important;
    background-color: rgba(0, 0, 0, .5) !important;
    border-color: #fff !important;
}
.form-control:disabled, .form-control[readonly] {
    color: #555 !important;
    background-color: rgba(0, 0, 0, .25) !important;
    border-color: #fff !important;
}

.pointer {
   cursor: pointer !important;
}

.no-pointer {
    background-color: #fff !important;
}

.modal {
    overflow-y: scroll !important;
}

.blink{
	animation:blinking 0.8s infinite;
}
@keyframes blinking{
	50%{		color: #fff;	}
	100%{	color: #f70;	}
}

.blink-white {
	animation: white-blinker 1s linear infinite;
}

@keyframes white-blinker {
	50% {
		color: #fff;
	}
}

.modal-dialog {
    max-width: 100% !important;
}

input {
    border: 2px solid #0f0 !important;
    border-radius: 10px 10px 10px 10px;   
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5px;
}

textarea {
    border: 2px solid #0f0 !important;
    border-radius: 10px 10px 10px 10px;   
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5px;
    width:100%;
    color: #fff;
    text-align: left !important;
} 



input[type=checkbox] { visibility: hidden; }
 .checkbox {
    width: 30px;
    height: 30px;
    background: #ddd;
    display: block;

    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}


.checkbox label {
    display: block !important;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: all .5s ease;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;

    background: #aaa;
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkbox input[type=checkbox]:checked + label {
    background: #0f0;
}

.CodeMirror{
    height: auto;
}
.CodeMirror-code{
    text-align: left !important;
    border: 2px solid #0f0 !important;
} 
.cm-builtin{
    color: #fff !important;
}

/* 




p,
h1,
h2,
h3,
h4, 
h6,
input,
textarea,
a,
label,
.toast-container div,
.the-font
{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  font-weight: bold!important;
}

.webGLDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
}

content, nav {
    background-color: transparent!important;
}
.scroll-content {
    padding-top: 0px !important;
}
.item-block {
    border-bottom: none;
}
.list-ios {
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-button {
    max-width: 30%;
}

.popover-content {
    background-color: #000 !important;
    border: 2px solid #0f0;
    border-radius: 10px 10px 10px 10px!important;  
    max-width: 85%;
    min-width: 50%;
    width: auto !important;
    height: auto !important;
    margin-right: 30px !important;
}
backdrop {
    opacity: 1 !important;

}

.loading-md .loading-wrapper, p{
    color: #fff;
}
.loading-wrapper{
    background-color: #000 !important;
    border-radius: 5px 5px 5px 5px!important;   
    border: 2px solid #0f0;
}

.error-btn {
    color: #fff!important;
    background-color: #000 !important;
    border: 2px solid #f00!important;
    border-radius: 5px 5px 5px 5px!important;   
}
.warning-btn {
    color: #fff!important;
    background-color: #000 !important;
    border: 2px solid #0f0!important;
    padding: 2px 2px 2px 2px;
    font-size: 1.0em;
    line-height: 1.3333333;
    border-radius: 5px;
    font-weight: bold !important;
}

circle {
    stroke: #0f0!important;
}
.alert-title {
    color: #fff;
}
.alert-button {
    border: 2px solid #0f0 !important;
    border-radius: 10px 10px 10px 10px;   
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5px;
}
.alert-wrapper {
    border: 2px solid #0f0 !important;
    border-radius: 10px 10px 10px 10px !important;   
    background-color: rgba(0, 0, 0, 0.85) !important;
    padding: 5px !important;
}


input {
    border: 2px solid #0f0 !important;
    border-radius: 10px 10px 10px 10px;   
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5px;
}

span.glyphicon.glyphicon-circle-arrow-right
{
    top:50% !important;
    font-size: 32px !important;
}
span.glyphicon.glyphicon-circle-arrow-left
{
    top:50% !important;
    font-size: 32px !important;
}
.banner
{
text-align: center; 
padding: 2px; 
width: auto;
border: 2px solid #0f0; 
color:#fff;
border-radius: 5px 5px 5px 5px;   
background-color: rgba(0, 0, 0, 0.85) !important;
}

.label-md, 
.input-wrapper, 
.item-inner, 
.list.list-md, 
.item-md,
div.item-inner > div,
.item-ios{
    width:100%;
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.custom-btn {
    border: 2px solid #0f0 !important;
    padding: 2px 2px 2px 2px;
    font-size: 1.0em;
    line-height: 1.3333333;
    border-radius: 5px;
    background-color: #000;
    border-color:#0f0;
    font-weight: bold !important;
}
.custom-btn:hover, .custom-btn:active, .custom-btn:active:focus, .custom-btn:focus {
    padding: 3px 3px 3px 3px;
    font-size: 1.0em;
    line-height: 1.3333333;
    border-radius: 4px;
    color: black;
    background-color:white;
    border-color:#0f0;    
    font-weight: bold !important;
}
.item-inner {
  border: none !important;
  box-shadow: none !important;
}


.scroll-bar-indicator {
    display: none !important;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
label
{
    text-align: left !important;
    font-weight: bold !important;
    text-shadow: 0.1em 0.1em 0.2em black ;
    color: #fff !important;
    text-shadow: 0.1em 0.1em 0.2em black !important;
    font-size: 1.0em;
}


.carousel-control
{
    background: transparent;
    background-image: none!important;
}
.list-ios .item-block .item-inner {
    border-bottom: none;
}
.ios .page.show-page ~ .nav-decor {
  background: transparent!important;
}
.alert-md .alert-radio-label {
    color: #fff !important;
}
.text-input-md {
    
    margin: 0px;
    padding: 0px;
}
.select-text {
    color: #fff;
    border: 2px solid #0f0 !important;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
}












card {
  border: 2px solid #0f0 !important;
  border-radius: 10px 10px 10px 10px !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
}

card img {
    display: inline-block;
    width: 20% !important;
}
.instruction
{

text-align: left; 
padding: 5px; 
border: 2px solid #0f0; 
border-radius: 10px 10px 10px 10px;   
background-color: rgba(0, 0, 0, 0.85);
}
card img {
    width: 100% !important;
}
.picture{
    display: inline-block !important;
    width: 10.0rem !important;
    float: left;
    position: relative;
}

col {
    padding: 0px !important;
}

grid{
    padding: 0px !important;
}

.card-ios p {
    color: #fff;
}

.is-hidden{
    display: none !important;
}
.is-visble{
    display: block !important;
}
.blue-highlight-class{
border: 2px solid #00f !important;
}
.red-highlight-class{
border: 2px solid #f00 !important;
}
.yellow-highlight-class{
border: 2px solid #ff0 !important;
}



.searchbar-md .searchbar-input  {
    border: 2px solid #0f0 !important;
    color: white;
    border-radius: 10px 10px 10px 10px;   
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5px;
}
.item-md p {
    overflow: initial !important;
}
.search-area{
    margin: 0px !important;
    padding: 0px !important;
}
input.search-area > input{
    margin: 0px !important;
    padding: 0px !important;
}

textarea {
  height: 50vh;
    color: white;
    padding: 15px; 
}

#comment textarea {
  height: 10vh !important;
    color: white;
    padding: 15px; 
}

.invisible {
    visibility: hidden;
    position: absolute;
}

.not-invisible {
    visibility: visible;
}

.highlight-class{
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid #ff0 !important;
}
.no-class{

}
.fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
    
.alert-ios .alert-radio-label
{
  color: #0f0 !important;
}

.backdrop {
    opacity: 1 !important;
    background-color: #000 !important;
    text-align: center !important;

}
.toast-container
{
    text-align: center !important; 
}
.toast-wrapper
{
    text-align: center !important;
}
toast{
    text-align: center !important;
}
.toast-container div {
    left: auto !important;
    right: auto !important;
    width: auto !important;
    padding: 5px; 
    border: 2px solid #0f0; 
    border-radius: 10px 10px 10px 10px;   
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}
*/
